<!DOCTYPE html>
<html>
<head>
    <link href="~/StyleSheet.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <h1>Photo Gram</h1>
        <div class="icon">
        </div>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>